{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class="container">

        <div class="card">
            <div class="card-header">
                <p class="zawgyi">
                    သည္စာသည္ ေဇာ္ဂ်ီ ျဖင့္ေရးေသာစာျဖစ္သည္
                </p>
                <p class="unicode">
                    သည်စာသည် unicode ဖြင့်ရေးသောစာဖြစ်သည်
                </p>
            </div>
        </div>

        <br>

        <h1> Uploading New Form</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <br>

        <div class="row">
            <div class="col-md-6">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_errors(form) }}

                {{ form_row(form.description) }}
                {{ form_row(form.file) }}

                <br>
                <div class="g-recaptcha" data-sitekey="{{ google_captcha_site_key }}"></div>
                <br>

                <button id="upload-button" type="submit" class="btn btn-primary">Upload</button>

                <button  id="loading-button" class="btn btn-primary" style="display: none" disabled>
                    <span class="spinner-border spinner-border-sm"></span>
                    Loading .........
                </button>

                {{ form_end(form) }}
            </div>
        </div>
        <br><br>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init();
            $(document).on("click", "#upload-button", function (e) {
                $("#upload-button").hide();
                $("#loading-button").show();
            });
        })
    </script>
{% endblock %}
