{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class="container">
        <div class="card unicode">
            <div class="card-header">
                <h4> <b>အတွင်းရေးများဖော်ထုတ်ကြ။</b></h4>
                <p>
                    သင်တို့လက်ဝယ်ရှိသော အာဏာရှင်တို့၏ လျှို့ဝှက်ချက်ဖိုင်များကို ပေးပို့နိုင်ပါသည်။
                    (အစည်းအဝေးမှတ်တမ်းများ၊ အမိန့်စာများ၊ ညွှန်ကြားချက်များ၊ ဘဏ်စာရင်းများ၊
                    ဓာတ်ပုံများ၊ ဗီဒီယိုများ၊ အီးမေးလ်များ၊ တခြားအချက်အလက်များ) မည်သူပေးပို့သည်ကိုလည်း
                    မှတ်တမ်းမတင်ထားပါ။ အချက်အလက်များကို ဖြစ်နိုင်ခြေ ရှိမရှိ စစ်ဆေးပြီး နိုင်ငံတကာသို့
                    သိစေရန်ဖြန့်ဝေပါမည်။
                </p>
            </div>
        </div>

        <br>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <br>

        <div class="row">
            <div class="col-md-6">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_errors(form) }}

                {{ form_row(form.description) }}
                {{ form_row(form.file) }}

                <br>
                <div class="g-recaptcha" data-sitekey="{{ google_captcha_site_key }}"></div>
                <br>

                <button id="upload-button" type="submit" class="btn btn-primary">Upload</button>

                <button  id="loading-button" class="btn btn-primary" style="display: none" disabled>
                    <span class="spinner-border spinner-border-sm"></span>
                    Loading .........
                </button>

                {{ form_end(form) }}
            </div>
        </div>
        <br><br>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init();
            $(document).on("click", "#upload-button", function (e) {
                $("#upload-button").hide();
                $("#loading-button").show();
            });
        })
    </script>
{% endblock %}
